/*---------------------------- FONT & COLOR ------------------------------*/
/* Titoli e intestazioni → Playfair Display (Elegante, serif) 
Testo paragrafo → Poppins o Lato (Sans-serif, leggibile e moderno) 
Pulsanti e call-to-action → Montserrat (Sans-serif, leggermente bold per maggiore impatto)  */
:root {
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Poppins', sans-serif;
    --font-button: 'Montserrat', sans-serif;
}


/* Sfondo chiaro con testi scuri per leggibilità
Accenti di blu petrolio e verde salvia per un look sofisticato
Bottoni con colori contrastanti per attirare l’attenzione (blu navy con hover oro satinato)
Bordi e dettagli in grigio scuro per definire gli elementi senza appesantire il design */
:root {
    --color-background: #F8F9FA; /*BIANCO SPORCO*/
    --color-secondary-bg: #EAEDED; /*GRIGIO CHIARO*/
    --color-primary: #2C3E50; /*BLU PETROLIO*/
    --color-secondary: #A3B899; /*VERDE SALVIA*/
    --color-text: #333333; /*ANTRACITE*/
    --color-text-secondary: #666666; /*GRIGIO MEDIO*/
    --color-button: #34495E; /*BLU NAVY*/
    --color-button-hover: #C4A35A; /*ORO SATINATO*/
    --color-border: #444444; /*GRIGIO SCURO*/
}

/*-------------------------------- RESET ---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*-------------------------------- RESET ---------------------------------*/



  

